
<div id="entries">
  {{#each content}}
    <section class="entry" {{bindAttr class="finished"}}>
      <div class="infos" {{action editEntry this}}>
        <div class="info-row">
          <label>Archiv Nr.</label>
          <span>{{archiveNumber}}</span>
        </div>
        <div class="info-row">
          <label>Titel</label>
          <span>{{title}}</span>
        </div>
        <div class="info-row">
          <label>Termin</label>
          <span>{{date}}</span>
        </div>
        <div class="info-row">
          <label>Veröffentlicht</label>
          <span>{{published}}</span>
        </div>
        <div class="info-row">
          <label>Archivinhalt</label>
          <span>{{archiveContent}}</span>
        </div>
        <div class="info-row">
          <label>Seitenangabe</label>
          <span>{{pageReference}}</span>
        </div>
        <div class="info-row">
          <label>Obsessionen</label>
          <span>{{obsessions}}</span>
        </div>
        <hr />
        <div class="info-row">
          <label>Arbeitsbuch</label>
          <span>{{workbook}}</span>
        </div>
        <div class="info-row">
          <label>Arbeitsheft</label>
          <span>{{workbooklet}}</span>
        </div>
      </div>
      {{#if editing}}
        <div class="editing">
          <form action="javascript:undefined;" class="form-horizontal">
            <div class="control-group">
              <label class="control-label">Archiv Nr.</label>
              <div class="controls">
                {{view Ember.TextArea valueBinding="archiveNumber"}}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Titel</label>
              <div class="controls">
                {{view Ember.TextArea valueBinding="title"}}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Termin</label>
              <div class="controls">
                {{view Ember.TextField valueBinding="date"}}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Veröffentlicht</label>
              <div class="controls">
                {{view Ember.TextField valueBinding="published"}}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Archivinhalt</label>
              <div class="controls">
                {{view Ember.TextField valueBinding="archiveContent"}}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Seitenangabe</label>
              <div class="controls">
                {{view Ember.TextField valueBinding="pageReference"}}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Obsessionen</label>
              <div class="controls">
                {{view Ember.TextField valueBinding="obsessions"}}
              </div>
            </div>
            <hr />
            <div class="control-group">
              <label class="control-label">Arbeitsbuch</label>
              <div class="controls">
                {{view Ember.TextField valueBinding="workbook"}}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Arbeitsheft</label>
              <div class="controls">
                {{view Ember.TextField valueBinding="workbooklet"}}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Fertig?</label>
              <div class="controls">
                {{view Ember.Checkbox checkedBinding="finished"}}
              </div>
            </div>

            <div class="form-actions">
              <button {{action saveEntry this}} class="btn btn-success">Speichern</button>
            </div>
          </form>
        </div>
      {{/if}}
    </section>
  {{/each}}
</div>